/* All Elements */

*{margin: 0px; padding: 0px; box-sizing: border-box; z-index: 0}


/*body {padding: 65px 0px 50px;}*/

/* Modal Settings */
.login-modal-dialog {width:30%; margin: 0px auto; z-index: 50;}
/*nav {display: none}*/
/*section {display: none}*/
/*#naruci-dug {display: none}*/

/* Modal Table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td span {padding: 10px;}

/* Header */
.header {display: block;}
.sto-btn {display: block; width: 100%; }
.sto {margin-left: -10%;}
.sto span {position: inherit; color: dodgerblue;}

.konobar {display: block; width: 100%;}
.navbar-default {box-shadow: 0px 0.5px 25px grey;}
/*.content .nav-bar {margin: 0px auto;}*/
.navbar-search {margin-top: 8px;}
/*.btn-search {float:right;}*/
.inline {display:flex; justify-content: space-between;}
.search-field {margin-right: 8px; margin-bottom: 0px;}
.top-nav{display: inline;}
.prod-search {display: table;}

/* Content */

/* Modal za odabir stola */
.sto-modal-header{border: none; text-align: center;}
.sto-modal-body {display: table;}
#odaberiSto {overflow-y:scroll;}

/* Accordion */
a, a:hover, a:visited, a:focus {text-decoration: none;color:#222222;}
ul {list-style: none;padding: 0;}
ul .inner {overflow: hidden;display: none;}
ul .inner.show {display: block;    /*margin-top: -20px;*/}
h2{margin: 0px;}


/* Category and buttons */

/*.kategorija, .podkategorija, .vrsta-proizvoda, .proizvod {font-size: 35px;margin: 5px 0px;}*/
.tip, .tip:hover, .tip:active:hover, .tip:focus {background-color: #47AAFF; border-color: #47AAFF;}
.kategorija, .kategorija:hover, .kategorija:active:hover, .kategorija:focus {background-color: #337AB7; border-color: #337AB7;}
.vrsta, .vrsta:hover, .vrsta:active:hover, .vrsta:focus {background-color: #24557F; border-color: #24557F;}
.proizvod, .proizvod:hover, .proizvod:active:hover, .proizvod:focus, .pr-kol, .pr-kol:hover, .pr-kol:active:hover, .pr-kol:focus  {background-color: #122A40; border-color: #122A40;}

.proizvod .btn-group {display: inline-block;}
.list-group {list-style: none;}
/*.panel-group .panel div {margin-bottom: 15px;}*/
/*ul li:last-child {margin-bottom: 10px;}  */
.panel { margin: 0px auto;text-align: center;border: solid 0px black;}
.panel .panel-heading {padding:0px;}
/*.group-wrapper{text-align: center;margin: 0px auto;}*/
/*.form-control, .form-control:hover, .btn:focus{height: inherit; width: auto; display: inline; color: white;}*/
/*.form-search{width: auto;}*/
.form-control[readonly]{background-color: #122A40; width: 101%; margin-left: -1px;}
.btn-group {text-align: center;}
.btn-lg, .btn-lg:focus, .btn-lg:hover{font-size: 20px;margin-bottom: 10px;height: inherit; color:white;}
.btn[disabled]{opacity: 1;}
#naruci {width: 50%; margin: 0px auto;}

/* Form */

/*.form {display: none;}*/

/* Footer */
 
.navbar-fixed-bottom {
    box-shadow: 0px -0.5px 25px grey;
} 

/* Log In */

.login {margin: 50px;}
.form-signin-heading {padding-bottom: 10px;}


/* Smaller screen size*/



/*
@media screen and (max-width: 275px) {
    .btn-category {
        font-size: 14px;
        margin: 5px 0px;
        padding: 10px 5px;
    }
}*/