body {padding: 65px 0px 50px;}


.sto {/*background-color: deepskyblue;*/ /*border: solid 1px green;*/ text-align: center; margin: 0px auto;}

.sto .btn{}

.fa-circle{color: deepskyblue;}

/*.text { margin-top: 40%;}*/

.tbl-num{margin-top: -5%;}
.num {font-style: normal;color: red;font-weight: 600;text-align: center;font-size: 100%;}

